<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>terminalLogic</title>
  <link rel="stylesheet" type="text/css" href="../static/css/ml.css">
  <link rel="stylesheet" type="text/css" href="../static/css/global.css">
  <link rel="stylesheet" type="text/css" href="../static/css/nav.css">
  <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
  <script src="http://d3js.org/d3.v3.min.js"></script>
</head>
<body>
   <!-- NAVBAR -->
   <header>
    <a href="index.html" class="logo">terminalLogic</a>
    <div class="container">
      <div class="menu-button"></div>
      <ul class="flexnav" data-breakpoint="800">
        <li><a href="dashboard.html">The Desk</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li>
          <a href="#">Backtesting</a>
          <ul>
            <li><a classname="subnav" href="#">Visualizing Momentum</a></li>
            <li><a classname="subnav" href="#">Visualizing Mean Reversion</a></li>
            <li><a classname="subnav" href="#">Machine Learning</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Data</a>
          <ul>
            <li><a classname="subnav" href="trendtests.html">BTCPERP1M.csv</a></li>
            <li><a classname="subnav" href="rangetests.html">PORTFOLIO.csv</a></a></li>
            <li><a classname="subnav" href="ml.html">USERS.csv</a></li>
          </ul>
        </li>
        <li><a href="api.html">FTX API</a></li>
        <li><a href="../templates/Web-GUI-for-SQLite/Web-GUI-for-SQLite.html">Admin</a></li>
        <li><a href="https://ftx.us/trade/BTC/USD" target="_blank" rel="noopener noreferrer" >FTX Official Site</a></li>
        <li><a href="https://github.com/Travbz?tab=repositories" target="_blank" rel="noopener noreferrer" >Github</a></li>
      </ul>
    </div>
</header>

<!-- NAVBAR Ended -->
  <main class="ml">
    <h1 class="ml_heading">Unsupervised Machine Learning Lasso Regression Clustering</h1>
    <div class="ml_section">
      <div class="ml_image">
        <img id="graph-img-1" src="../assets/train-test-error.png">
      </div>
      <div class="ml_text"> 
        <div class="ml_text_heading">
          <h3>If our algorithm is doing better in the test data compared to the train data, is this observation in itself a red flag.?</h3>
          <h3>There are a few reasons why our test data error could be better than the train data error:</h3>
        </div>
        <ul class="ml_text_list">
            <li>If the train data had greater volatility (Daily range) compared to the test set, then the prediction would also exhibit greater volatility.</li>
            <li>If there was an inherent trend in the market that helped the algo make better predictions.</li>
        </ul>
        </div>
    </div>
    <div class="ml_section">
        <div class="ml_text"> 
          <div class="ml_text_heading">
            <h3>If our algorithm is doing better in the test data compared to the train data, is this observation in itself a red flag.?</h3>
            <h3>There are a few reasons why our test data error could be better than the train data error:</h3>
          </div>
          <ul class="ml_text_list">
              <li>If the train data had greater volatility (Daily range) compared to the test set, then the prediction would also exhibit greater volatility.</li>
              <li>If there was an inherent trend in the market that helped the algo make better predictions.</li>
          </ul>
          </div>
          <div class="ml_image">
            <img id="graph-img-2" src="../assets/lasso.png">
          </div>
    </div>
</main>
<footer>
  <footer>
    <p id="footer">Travis Bridle</p>
  </footer>
</footer>
</body>
<!-- SCRIPTS -->
  <!-- <script src='chart.js'></script> -->
  <script src="orderbooks.js"></script>
  <script src="https://0.s3.envato.com/files/78833207/js/jquery-1.9.0.min.js"></script>
  <script src="https://0.s3.envato.com/files/78833207/js/jquery.flexnav.js"></script>
  <script>
    $(".flexnav").flexNav();
  </script>

</html> 